name: Weekly IMDb Scraper

on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install pandas requests beautifulsoup4

      - name: Run scraper
        run: |
          python scrapper.py

      - name: Commit and push CSV
        run: |
          git config user.name "Aryan1411"
          git config user.email "22f3001834@ds.study.iitm.ac.in"
          git add imdb_top_movies.csv
          git commit -m "Update IMDb Top Movies CSV" || echo "No changes to commit"
          git push
